{{#yield-title}}{{keyword}}와 관련되어 보이는 예산 사업들{{/yield-title}}
{{#yield-scripts}}
{{/yield-scripts}}
{{#yield-stylesheets}}
<link rel="stylesheet" type="text/css" href="/static/css/tag/candidate.css">
{{/yield-stylesheets}}
{{#yield-content}}
<div class="container-fluid">
    <div class="row">
        <h2 class="title bg-primary">"{{keyword}}"&nbsp;<small>와(과) 관련된 예산 사업들을 찾아보세요!</small></h2>
    </div>
    <form method="POST" action="/save">
        <input type="hidden" name="keyword" value="{{keyword}}">
        <input type="hidden" name="user" value="{{user._id}}">
        {{#services}}
        <div class="row rel-row">
            <div class="rel-info">
                <h6>{{categories}}</h6>
                <h4>{{name}}&nbsp;&nbsp;<small>{{sum}}</small></h4>
            </div>
            <div class="radio rel-btns">
                <label class="radio-inline">
                    <input type="radio" name="{{_id}}" value="1">관련있음
                </label>
                <label class="radio-inline">
                    <input type="radio" name="{{_id}}" value="0">모르겠음
                </label>
                <label class="radio-inline">
                    <input type="radio" name="{{_id}}" value="-1">관련없음
                </label>
            </div>
        </div>
        {{/services}}
        <input type="submit" class="btn btn-lg btn-success btn-block" value="나의 생각 제출하기">
    </form>
</div>
{{/yield-content}}
