{{#yield-title}}"{{keyword}}"로 찾은 예산 사업들{{/yield-title}}
{{#yield-scripts}}
<script type="text/javascript" src="/static/js/tag/candidate.js"></script>
<script type="text/javascript">
    $(window).load(function(){
        var keyword = "{{keyword}}",
            services = [];

        {{#services}}
        var service = {
            _id: "{{_id}}",
            name: "{{name}}",
            categories: "{{categories}}".split(","),
            sum: "{{sum}}".split(",")
        };
        services.push(service);
        {{/services}}

        Candidate.initialize(keyword, services);
    });
</script>
{{/yield-scripts}}
{{#yield-stylesheets}}
<link rel="stylesheet" type="text/css" href="/static/css/tag/candidate.css">
{{/yield-stylesheets}}
{{#yield-content}}
<div id="wrapper-keyword">
    <h1>
        <a href="javascript:history.back()">뒤로 가기</a>
        <span>"{{keyword}}"</span>
    </h1>
</div>
<div id="wrapper-cands">
    <div id="subtitle-wrapper">
        <div id="subtitle">
            <h2>이슈 키워드와 각 예산 사업들의 <span>연관성</span>을 체크해보세요.</h2>
            <span>(단위: 천만 원)</span>
        </div>
    </div>
    <div id="cands">
        <ul class="cands-list">
        </ul>
    </div>
</div>
<div id="wrapper-submit">
    <button type="button" id="submit">나의 생각 제출하기</button>
</div>
{{/yield-content}}

