{{#yield-title}}나의 정보{{/yield-title}}
{{#yield-content}}
<div class="container-fluid">
    <div class="row">
        <h3>{{user.username}}<small>(나의 계정)</small></h3>
        <hr>
        <h4>총 {{all_length}}개의 예산 사업을 분류했습니다.</h4>
        <h5 class="bg-info" style="display:inline-block;padding:12px;border-radius:4px;"> 전체에서 {{rank}}위 입니다.</h5>
        <hr>
    </div>
    <div class="row">
        {{#length}}
        <div class="col-md-4" style="padding: 0 6px;">
            <button type="button" class="btn btn-block btn-info btn-lg" style="margin: 4px;padding:10px 0;">
                <h4>"{{issue}}"</h4>
                <h5><b><u>{{length}}개</u></b>의 사업을 분류했습니다.</h5>
            </button>
        </div>
        {{/length}}
        <p class="text-danger"><b>각 이슈당 50개 이상씩 분류 뒤에 “실험과제 후 설문조사” 링크가 화면 상단에 나타나며 이 설문까지 모두 마쳐주셔야 실험참가비 지급이 가능합니다.</b></p>
    </div>
</div>
{{/yield-content}}
