{{#yield-title}}이슈별 분류 시작!{{/yield-title}}
{{#yield-content}}
<div class="container-fluid">
    <div class="row">
        <h3>이슈별 분류 시작!</h3>
        <ol type="i">
            <li>예산 분류를 시작할 이슈를 선택해 주세요.</li>
            <li><b>각 이슈당 50개 이상씩 분류 뒤에 “실험과제 후 설문조사” 링크가 화면 상단에 나타나며 이 설문까지 모두 마쳐주셔야 실험참가비 지급이 가능합니다.</b></li>
        </ol>
        <hr>
    </div>
    <div class="row">
        {{#issues}}
        <div class="col-md-4">
            <a class="vertical-center btn btn-success btn-lg btn-block" href="/search?keyword={{keyword}}" style="height: 100px; line-height: 100px; padding: 0; margin-top: 10px;">{{keyword}}</a>
        </div>
        {{/issues}}
    </div>
</div>
{{/yield-content}}
