{{#yield-title}}{{keyword}}와 관련된 사업들{{/yield-title}}
{{#yield-scripts}}
{{/yield-scripts}}
{{#yield-stylesheets}}
<link rel="stylesheet" type="text/css" href="/static/css/tag/result.css">
{{/yield-stylesheets}}
{{#yield-content}}
<div class="container-fluid">
    <div class="row">
        <h2 class="title bg-info">"{{keyword}}"&nbsp;<small>와(과) 관련된 예산 사업들</small></h2>
        <h5 class="sub bg-warning">총 {{sum}}의 예산과 관련되어 있습니다.</h5>
    </div>
    {{#rels}}
    <div class="row rel-row">
        <div class="rel-info">
            <h6>{{categories}}</h6>
            <h4>{{name}}&nbsp;&nbsp;<small>{{sum}}</small></h4>
        </div>
        <div class="rel-rels">
            <button type="button" class="btn btn-success" disabled="disabled">관련있음 {{agree}}명</button>
            <button type="button" class="btn btn-warning" disabled="disabled">모르겠음 {{noidea}}명</button>
            <button type="button" class="btn btn-danger" disabled="disabled">관련없음 {{disagree}}명</button>
        </div>
    </div>
    {{/rels}}
    <a href="/search?keyword={{keyword}}" class="btn btn-default btn-block btn-lg">"{{keyword}}"와 관련된 사업 찾아보기</a>
</div>
{{/yield-content}}
