.title{
    padding: 12px;
    border-radius: 4px;
    margin-bottom: 4px;
}
.title small{
    color: rgba(0, 0, 0, .7);
}
.rel-row{
    border-radius: 4px;
    margin-bottom: 8px;
    border: 1px solid rgba(0, 0, 0, .2);
}
.rel-info{
    float: left;
    margin-left: 12px;
    margin-top: 7px;
    margin-bottom: 7px;
}
.rel-rels{
    float: right;
    margin-right: 12px;
    margin-top: 20px;
    margin-bottom: 20px;
}
.sub{
    padding: 12px;
    border-radius: 4px;
    margin-bottom: 8px;
}
.just-did_1{
    background: rgba(136, 203, 146, .2);
}
.just-did_0{
    background: rgba(245, 202, 140, .1);
}
.just-did_-1{
    background: rgba(230, 143, 141, .05);
}
